@model BRASS.Models.Students

@{
    ViewData["Title"] = "Create";
}

<h2>Add New Student</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentFirstName" class="control-label"></label>
                <input asp-for="ParentFirstName" class="form-control" />
                <span asp-validation-for="ParentFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentLastName" class="control-label"></label>
                <input asp-for="ParentLastName" class="form-control" />
                <span asp-validation-for="ParentLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentPhoneNumber" class="control-label"></label>
                <input asp-for="ParentPhoneNumber" class="form-control" />
                <span asp-validation-for="ParentPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input value="Convert Data" onclick="AddressToGeo(this.streetAddress, this.city, this.zipCode)"cclass="btn btn-default" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function AddressToGeo(token, streetAddress, city, zipCode) {
        var address = streetAddress + " " + city + " " + zipCode;

        var options = {
            "url": "https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/findAddressCandidates",
            "method": "GET",
            "timeout": 0,
            "headers":
                { 'content-type': 'application/x-www-form-urlencoded' },
            "data": {
                "f": "json",
                "token": token,
                "singleLine": address
            }
        };

        $.ajax(options)
            .done(function (response) {
                // location is define as {x,y}
                location = response.location;
                console.log(response);
                // ToDo: needs call to database to set stop
            })
            .fail(function (xhr, status, error) {
                console.log("Error in AddressToGeo: " + error);
            });
    }
</script>
