@{
    ViewData["Title"] = "Home Page";
}

@*<link rel="stylesheet" href="https://js.arcgis.com/4.14/esri/themes/light/main.css">*@
<script src="https://js.arcgis.com/4.14/"></script>

<div class="row" style="min-height:80vh">
    <div class="col-lg-6" id="viewDiv" style="margin-bottom:auto;margin-top:auto;border:medium">
        <h1>MAP GOES HERE</h1>
    </div>
    <div class="col-lg-6">
        <div class="form-group" style="max-width:20vw">
            <label for="exampleSelect2">Example multiple select</label>
            <select multiple="" class="form-control" id="exampleSelect2">
                <option>BUS 15</option>
                <option>BUS 3</option>
                <option>BUS 8</option>
                <option>BUS 62</option>
                <option>BUS 25</option>
            </select>
        </div>
        <div>
            <h2>BUS INFO:</h2>
            <h3>ROUTE NUMBER: <p>11</p></h3>

        </div>
    </div>
</div>

<script>

    require([
        "esri/Map",
        "esri/views/MapView",
    ], function (Map, MapView) {

        var map = new Map({
            basemap: "topo-vector"
        });

        var view = new MapView({
            container: "viewDiv",
            map: map,
            center: [-118.80500, 34.02700],
            zoom: 13
        });

    });
</script>
